<html>
    <head>
        <style>
           html,
body {
  height: 100%;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}


label,
input,
button {
  font-size: 16px;
  margin-bottom: 0.5em;
  color: #555;
}


input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}


button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}


button:hover {
  background-color: #0062cc;
}
table { border-collapse: collapse;  border-spacing: 0;  width: 80%;
  margin-bottom: 1em;
  width: 100%;
  border-style: dashed;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

th,
td {
  text-align: center;
  padding: 12px;
}

th {
  background-color: #1e2b39;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

td {
  font-size: 14px;
}

tr:hover {
  background-color: #ebebeb;
}

tr:nth-child(even) {
  background-color: #d5d5d5;
}

@media only screen and (max-width: 600px) {
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  td {
    display: block;
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  td::before {
    position: absolute;
    left: 0;
  }
}

          </style>
          
    </head>
    <body>
      <form action="/getcustomer" method="GET">
       <label for="customer-id"> <b></b>Enter Customer ID: </b> </label> 
        <input type="text" id="customer-id" name="id\">  <button type="submit">Get Customer</button></form>
      
        <table>
    <tr>
  <th>Customer ID</th>
   <th> Loan Amount </th>
   <th> Annual Income</th>
   <th> Monthly Debt </th>
   <th>Years of Credit History </th> 
   <th> Number of Open Accounts</th>
    <th> Current Credit Balance</th>
    <th>  Maximum Open Credit </th>
    <th> Years in current job </th>
     <th> Home Ownership </th>
     <th>  Purpose </th>
    <th> Number of Credit Problems </th>
    <th> Bankruptcies </th>
    <th> Tax Liens </th>
    <th> Credit Ranges </th>
    <th>Predicted Loan Status </th>
            </tr>
         
            <% if(customers.length>=0) { %>
              <% for (let i = 0; i < customers.length; i++) { %>
                <tr>
                  <td><%= customers[i]._id %> </td>
                  <td><%= customers[i].amount %></td>
                  <td><%= customers[i].income %></td>
                  <td><%= customers[i].debt %></td>
                  <td><%= customers[i].history %></td>
                  <td><%= customers[i].accounts %></td>
                  <td><%= customers[i].balance %></td>
                  <td><%= customers[i].maxcredit %></td>
                  <td><%= customers[i].job %></td>
                  <td><%= customers[i].home %></td>
                  <td><%= customers[i].purpose %></td>
                  <td><%= customers[i].problems %></td>
                  <td><%= customers[i].bankruptcies %></td>
                  <td><%= customers[i].taxliens %></td>
                  <td><%= customers[i].creditranges %></td>
                  <td><%= customers[i].predictedloanstatus %></td>
                </tr>
              <% } %>
              <% } else {  %>
                <tr>
                  <td><%= customers._id %> </td>
                  <td><%= customers.amount %></td>
                  <td><%= customers.income %></td>
                  <td><%= customers.debt %></td>
                  <td><%= customers.history %></td>
                  <td><%= customers.accounts %></td>
                  <td><%= customers.balance %></td>
                  <td><%= customers.maxcredit %></td>
                  <td><%= customers.job %></td>
                  <td><%= customers.home %></td>
                  <td><%= customers.purpose %></td>
                  <td><%= customers.problems %></td>
                  <td><%= customers.bankruptcies %></td>
                  <td><%= customers.taxliens %></td>
                  <td><%= customers.creditranges %></td>
                  <td><%= customers.predictedloanstatus %></td>
                </tr>
  
            <% } %>
          </table>
    </body>
</html>